# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# misc
.DS_Store

# git tools
.github
.husky

# IDE setup
.vscode

# ignore files
.prettierignore

# configs
.eslintrc.js
